# 🔹 Python
__pycache__/
*.py[cod]
*.pyo

# 🔹 Virtual Environment
myenv/
venv/
env/

# 🔹 Django
db.sqlite3
staticfiles/
media/

# 🔹 Environment variables
.env

# 🔹 VS Code
.vscode/

# 🔹 OS files
.DS_Store
Thumbs.db

# 🔹 Logs
*.log
