{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-card">

        <h2 class="auth-title">
            {% if user_type == "Student" %}
                🎓 Register as Student
            {% else %}
                👨‍🏫 Register as Trainer
            {% endif %}
        </h2>

        <form method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}

            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    <small class="error-text">{{ field.errors }}</small>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary btn-lg auth-btn">
                Register
            </button>
        </form>

        <p class="auth-text">
            Already have an account?
        </p>

        <a href="{% url 'accounts:login' %}" class="btn btn-outline">
            Login
        </a>

    </div>
</div>
{% endblock %}
